<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">

</head>
<body>
<div class="container-fluid" layout:fragment="page-content">
  <div sec:authorize="!isAuthenticated()" >
    <a class="btn btn-success mb-2" th:href="@{/}">Debe ingresar primero</a>
  </div>
  <div sec:authorize="isAuthenticated()">
    <div th:if="${user==null}">
      <a class="btn btn-success mb-2" th:href="@{/}">Usuario no registrado</a>
    </div>
    <div th:if="${user!=null}">
    <div th:if="${#strings.toString(user.getRole())}=='ADMIN'">
  <div class="col-12">
    <h2>Editar Empresa</h2>
    <form th:object="${empresa}" th:action="@{/enterprises/}+ ${empresa.id}" th:method="patch" class="d-flex flex-column gap-3">
      <input type="hidden" th:field="*{id}">
      <div class="form-group">
        <label for="name">Nombre de la empresa</label>
        <input autocomplete="off" autofocus th:field="*{name}" id="name"
               placeholder="Escribe el nombre de la empresa" type="text"
               class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:errors="*{name}"></div>
      </div>
      <div class="form-group">
        <label for="document">Documento de la empresa</label>
        <input autocomplete="off" th:field="*{document}" id="document" placeholder="Escribe el documento de la empresa"
               type="text"
               class="form-control" th:classappend="${#fields.hasErrors('document')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:errors="*{document}"></div>

      </div>
      <div class="form-group">
        <label for="phone">Telefono de la empresa</label>
        <input autocomplete="off" th:field="*{phone}" id="phone"
               placeholder="Escribe el telefono de la empresa" type="number"
               class="form-control" th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:errors="*{phone}"></div>

      </div>
      <div class="form-group">
        <label for="address">Dirección de la empresa</label>
        <input autocomplete="off" th:field="*{address}" id="address" placeholder="Escribe la dirección de la empresa"
               type="text"
               class="form-control" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:errors="*{address}"></div>

      </div>
      <button class="btn btn-success" type="submit">Editar</button>
    </form>
  </div>
    </div>
    <div th:if="${#strings.toString(user.getRole())}!='ADMIN'">Bloqueado
    </div>
    </div>
  </div>
</div>
<!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">

</th:block>
</body>
</html>